<table class="table mytable">
    <tr>
        <td colspan="2"><h2>Album {{album.name}}</h2></td>
    </tr>
    <tr>
        <td>Album id</td>
        <td>{{album.id}}</td>
    </tr>
    <tr>
        <td>Album name</td>
        <td>{{album.name}}</td>
    </tr>
    <tr>
        <td colspan="2"><img ng-src="{{album.image}}"/></td>
    </tr>
    <tr>
        <td>URI</td>
        <td>{{album.uri}}</td>
    </tr>
    <tr>
        <td>Artist</td>
        <td>{{album.artists[0].name}}</td>
    </tr>
    <tr>
        <td>Genre</td>
        <td>{{album.genres[0].name}}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{album.date}}</td>
    </tr>
    <tr>
        <td>Duration</td>
        <td>{{album.duration}}</td>
    </tr>
</table>
