<table class="table mytable">
    <tr>
        <td colspan="2"><h2>Player</h2></td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{player.title}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{player.state}}</td>
    </tr>
    <tr>
        <td>Repeat</td>
        <td>{{player.repeat}}</td>
    </tr>
    <tr>
        <td>Scan</td>
        <td>{{player.scan}}</td>
    </tr>
    <tr>
        <td>Shuffle</td>
        <td>{{player.shuffle}}</td>
    </tr>
    <tr>
        <td>Media index</td>
        <td>{{player.mediaindex}}</td>
    </tr>
    <tr>
        <td>Play speed</td>
        <td>{{player.speed}}</td>
    </tr>
    <tr>
        <td>Offset (ms)</td>
        <td>{{player.offset}}</td>
    </tr>
    <tr>
        <td>Duration (ms)</td>
        <td>{{player.duration}}</td>
    </tr>

    <tr>
        <td colspan="2"><img ng-src="{{player.media.items[0].image}}"/></td>
    </tr>


</table>
