body {
    background: black;
}

#c {
    position: absolute;
    opacity: 0.7;
    top: 0px;
    left: 0px;
    width: 780px;
    height: 470px;
    z-index: 1;
}

#v {
    position: absolute;
    opacity: 1.0;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
/*
    width: 1440px;
    height: 480px;
*/
