body {
    background: black;
}

#c {
    position: absolute;
    opacity: 0.5;
    top: 100px;
    left: 200px;
    width: 20%;
    height: 20%;
    z-index: 1;
}

#v {
    position: absolute;
    opacity: 0.99;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}
/*  
    width: 1440px;
    height: 480px;
*/